body, html {
    background-color: #272727;
    color: #ffffff;
    font-family: 'Poppins';
}

#header{
    border-bottom: 2px solid #4D4D4D;
}

#logo-text{
    color: #ffffff;
    text-decoration: none;
    padding: 2em 0em;
}

.title-text {
    background: #3BF686;
    background: linear-gradient(to right, #3BF686 48%, #4CA9FF 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.img-profile{
    border: 1px linear-gradient(to right, #3BF686 48%, #4CA9FF 90%);
    max-width: 150px;
    clip-path: circle(50%);
}

.nav a{
    color: #ffffff;
    padding: 2em;
}
.icon-link{
    color: #fff;
}

.about-card {
    background-color: #323443;
    padding: 20px 30px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
